# Copyright (c) Microsoft. All rights reserved.

# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

# Bash scripts
*.sh text eol=lf
scripts/build text eol=lf
scripts/git/setup text eol=lf
scripts/devicesimulation.sh text eol=lf
scripts/iothubmanager.sh text eol=lf
scripts/pcsconfig.sh text eol=lf
scripts/storageadapter.sh text eol=lf
